/*Basic Example*/

.delay {
    font-size: 14px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.5s;
  }
  
 .delay:hover {
    font-size: 36px;
  }

  /*Multiple animated properties example*/

  .box {
    border-style: dotted;
    border-width: 3px;
    display: block;
    width: 300px;
    height: 200px;
    background-color: violet;
    transition:
      width 2s,
      height 2s,
      background-color 2s,
      rotate 5s;
  }
  
  .box:hover {
    background-color: beige;
    width: 300px;
    height: 200px;
    rotate: 150deg;
  }


    /*When property value lists are of different lengths*/

   .propertyvalue {
        border-style: solid;
        border-width: 1px;
        display: block;
        width: 100px;
        height: 100px;
        background-color: red;
      }

      .propertyvalue:hover {
        transition-property: background-color, rotate;
        transition-duration: 2s, 5s;
        background-color: palevioletred;
        rotate: 270deg;
      }     


   /*Using transitions when highlighting menus*/

   nav {
    display: flex;
    gap: 1rem;
  }
  
  a {
    flex: 1;
    background-color: #4706fb;
    color: #fff;
    border: 2px solid;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 1s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: #dedb00;
    color: black;
  }



   /*Transitioning display and content-visibility*/

   html {
    height: 100vh;
  }
  
  .hide {
    font-size: 1.6rem;
    padding: 10px;
    border: 6px solid green;
    border-radius: 10px;
    width: 200px;
  
    display: none;
    opacity: 0;
    transition:
      opacity 1s,
      display 1s allow-discrete;
  }
  
  .showing {
    opacity: 1;
    display: block;
  }
  
  @starting-style {
    .showing {
      opacity: 0;
    }
  }

  